@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.followers-display {
  /* width: 20%; */
  background-color: #f0f3fa;
  text-align: center;
  border-radius: 5px!important;
  border-top: 5px solid hsl(208, 92%, 53%);
  padding: 1rem 2rem;
  margin: 0 1rem!important;
}

.username {
  font-weight: 700;
  color: #696d7a;
  font-size: .75rem;
  margin-left: .5rem;
}

.followers-text {
  letter-spacing: .2rem;
  font-size: 12px;
  color: rgb(99, 104, 126, .7);
  margin-bottom: .5rem;
}

.followers-change {
  font-size: 11px;
  font-weight: 700;
}

.down-change {
  font-size: 10px;
  font-weight: 700;
  color: hsl(356, 69%, 56%);
}

.up-change {
  font-size: 10px;
  font-weight: 700;
  color: hsl(163, 72%, 41%);
}

.icon {
  width: 1rem;
}

#hero-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.follower-icon-user {
  margin-bottom: .5rem;
}

#title-container {
  width: 100%;
  margin: 2rem 8rem;
  /* padding: 2rem 8rem; */
  background-color: hsl(225, 100%, 98%);
  display: flex;
  justify-content: space-between;
}

#social-media-dashboard {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: .2rem;
}

#total-followers-count {
  font-size: .85rem;
  font-weight: 700;
}

/* The switch - the box around the slider */
.switch {
  margin-top: 1rem;
  position: relative;
  display: inline-block;
  width: 45px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(230, 22%, 74%);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: hsl(225, 100%, 98%);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

input:focus + .slider {
  box-shadow: 0 0 1px linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

